.App {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.layout {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header  header  header'
    'content content content';
  background-color: #fff;
  color: #444;
}

.header {
  grid-area: header;
  display: flex;
  max-height: 15vh;
  padding: 20px;
}

.box {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
  font-size: 150%;
}

.datepicker {
  padding: 10px;
}

.menubar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.content {
  grid-area: content;
  position: relative;
  margin: 30px;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #3f8b6d;
  background: -moz-linear-gradient(
    left,
    #3f8b6d 10%,
    rgba(15, 245, 145, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #3f8b6d 10%,
    rgba(15, 245, 145, 0) 42%
  );
  background: -o-linear-gradient(left, #3f8b6d 10%, rgba(15, 245, 145, 0) 42%);
  background: -ms-linear-gradient(left, #3f8b6d 10%, rgba(15, 245, 145, 0) 42%);
  background: linear-gradient(to right, #3f8b6d 10%, rgba(15, 245, 145, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #3f8b6d;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #faffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
